body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}


.container {
  display: -webkit-flex;
  display: flex;
}

.flex1 {
  -webkit-flex: 1;
          flex: 1;
  min-width: 400px;
  margin: 10px;
}
.flex2 {
  -webkit-flex: 2;
          flex: 2;
 min-width: 400px;
 margin: 10px;
}

pre {
    margin: 0;
}

/* editor scope levels */
.cm-level0 { background-color: #ffffff; } /* white */
.cm-level1 { background-color: #aefab8; } /* green */
.cm-level2 { background-color: #fafa99; } /* yellow */
.cm-level3 { background-color: #a9f2ff; } /* blue */
.cm-level4 { background-color: #faadba; } /* red */
.cm-level5 { background-color: #c9bfff; } /* cyan */
.cm-level6 { background-color: #f9b5ff; } /* magenta */
.cm-level7 { background-color: #c7c7c7; } /* gray */
.cm-level8 { background-color: #ffc47d; } /* orange */
.cm-level9 { background-color: #cf9369; } /* crap-brown */