
.CodeMirror {
  font-size: 14px;
  margin:0px;
  padding:0px;
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-linenumber {
    width: 40px;
}

#editor-containter {
    position: relative;
}

#editor {
     width:940px;
}

#colorer {
    position: absolute;
    opacity: 0.5;
    top: 4px;
    left: 55px;
    width: 885px;
    color:transparent;
    overflow-x: hidden;
    border: none;
}

#colorer {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;

    -moz-tab-size:    4;
    -o-tab-size:      4;
    -webkit-tab-size: 4;
    -ms-tab-size:     4;
    tab-size:         4;
}

/* editor scope levels */
.cm-level0 { background-color: #ffffff; } /* white */
.cm-level1 { background-color: #aefab8; } /* green */
.cm-level2 { background-color: #fafa99; } /* yellow */
.cm-level3 { background-color: #a9f2ff; } /* blue */
.cm-level4 { background-color: #faadba; } /* red */
.cm-level5 { background-color: #c9bfff; } /* cyan */
.cm-level6 { background-color: #f9b5ff; } /* magenta */
.cm-level7 { background-color: #c7c7c7; } /* gray */
.cm-level8 { background-color: #ffc47d; } /* orange */
.cm-level9 { background-color: #cf9369; } /* crap-brown */
